@*@model IEnumerable<code.id.Test_AXA.Models.Data>*@
@model X.PagedList.IPagedList<code.id.Test_AXA.Models.Data>
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Master Data";
}

<h2 style="margin-top:50px">Master Data</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table" id="myTable" style="margin-top:50px">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.body</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))